node_modules/grunt*
node_modules/.bin
testQ.html
dist/
config.inc.php
*.inc.php
translators/worldlingo/
scripts/WorldLingoTranslator.js
src/ajaxFake.js
src/q_0.9.7.js
heroku-client/
node_modules/
.idea/*
vendor/*